@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
bg1{
    color: #977f7f
}
bg2{
    color: #6d0909
}
bg3{
    color: #af4d4d
}
bg4{
    color: #f8eee0
}
/* fkexbox */

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    .items{
        width: 30%;
        background: white;
        margin-bottom: 10px;
    }     

    .news-sec{
        display: flex;
        height: 50vh;
        border: 1px solid white;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        }
        .banner{
            width: 30%;
            height: 240px;
            background: rgb(248, 238, 224);
        }
    header{
        display: flex;       
        padding: 2%;
        background: #977f7f;
        margin-bottom: 10px;
        border-radius: 10px;
        }
        img{
            width: 12%;
            border-radius: 10px;      
            display: flex;
            justify-content: start;
            }
        h1 {    
            color:whitesmoke;
            text-align: center;
        }
        nav{            
            justify-content: space-between;
            background-color: #977f7f;
            color: thistle; 

            }
            nav ul{
                display: flex;
                list-style: none;
                padding: 0;
                padding-top: 10px;
                }
                nav ul li{
                    margin-right: 20px;                                     
                    }
                    nav ul li a{
                        text-decoration: none;
                        color: whitesmoke;                        
                        border-radius: 10%;
                        transition: 1s;
                        }
                        nav ul li a:hover{
                            color: rgb(109, 41, 41);
                            background: whitesmoke;
                        }

    .logo{
        width: 12%;        
        }
        .logo img{
            width: 100%;
            border-radius: 10px;
            }
    .search{
        width: 50%;
        }
        .search input[type="text"]{
            width: 80%;
            padding: 5px;
            border-radius: 5px;
            border: none;
            }
            .search input[type="submit"]{
                padding: 5px;
                border-radius: 5px;
                border: none;
                background: #420505;
                color: white;
                }
                .search input[type="submit"]:hover{
                    background: #977f7f;
                }
    .news-main{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        }
        .news-main article{
            width: 30%;
            padding: 2%;
            background: rgba(255, 255, 255, 0.3);
            border-radius: 15px;
            margin-bottom: 10px;
            }
            .news-main article img{
                width: 100%;
                
}

.news-main{
    width: 90%; margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    }
        .news-main article{
            width: 30%;              
            padding: 2%;
            background: rgba(255, 255, 255, 0.3);
            border-radius: 15px;
            margin-bottom: 10px;
            }
            .news-main article img{
                width: 100%;
                
            } 
footer{
    background-color: #977f7f;    
    color: #420505; 
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
    justify-content: center;
            }       
   
    .social{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        }
        .social a{
            margin-right: 10px;
            }
            .social a img{
                width: 30px;
                border-radius: 50%;
                }
                .social a img:hover{
                    background: #420505;
                    border-radius: 50%;
                    }
/* media queries */
        
@media screen and (max-width: 576px){
   
    body{
        background: rgba(128, 128, 128, 0.695);
    }
    header{
        flex-direction: column;
        align-items: center;
    }
    h1 {
        font-size: 1.5em;
    } 
    .news-main{
        flex-direction: column;
        width: 100%;
    }
    .news-main article{
        width: 100%;
    }   

}
@media screen and (min-width: 576px) and (max-width: 900px){
    body{
        background: rgba(128, 128, 128, 0.695);
    }
    header{
        flex-direction: row;
    }    
    .logo{
        text-align: center;
    } 
    h1 {
        font-size: 2em;
    }
    .news-main{
        flex-wrap: wrap;
    }
    .news-main article:first-child{
        width: 100%;
        }
        .news-main article:first-child .img{
            max-height: 200px;
            overflow-y: hidden;
        }
    .news-main article{
        width: 45%;
    }
} 


@media screen and (min-width: 900px) and (max-width: 1200px){
    body{
        background: rgba(128, 128, 128, 0.695);
        color: black;        
    }
    .logo{
        text-align: center;
    }
    .news-main{
        flex-wrap: wrap;
    }
    .news-main article{
        width: 25%;
    }
}
@media screen and (min-width: 1200px){
    body{
        background: rgba(128, 128, 128, 0.695);
    }
    .logo{
        text-align: center;
    }
    h1 {
        font-size: 2.5em;
    }
    .news-main{
        flex-wrap: wrap;
    }
    .news-main article{
        width: 25%;
    }
} 

