{% include 'defaults/head.html' %}

<body>
    
    {% include 'defaults/header.html' %}

    <section class="container">
        
        <h1 class="mb-5">{{title}}</h1>
    
        <a href="/comunidad/cargar_usuario" class="btn btn-warning">Nuevos usuarios</a>

        <div class="h4 text-dark">
            <div class="row">
                {% for i in usuarios%}
                <div class="col">
                    <div class="data d-flex justify-content-between">
                        <div class="nombre w-75">
                            {{i[1]}}
                        </div>
                        <div class="user.email w-25 text-center">
                            $ {{i[3]}}
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <a href="/comunidad/editar_usuario/{{i[0]}}" class="btn btn-white"><i class="bi bi-pencil-fill"></i></a>
                    <a href="/comunidad/borrar_usuario/{{i[0]}}" class="btn btn-white"><i class="bi bi-trash-fill"></i></a>
                </div>                
                <hr>
                {% endfor %}
            </div>
        </div>
        
    </section>
    {% include 'defaults/footer.html' %}


</body>
</body>
</html>