{% include 'defaults/head.html' %}

<body>
{% include 'defaults/header.html' %}

    <div class="estrenos">
        <span>
            No te pierdas lo que se viene!
        </span>
    </div> 
    <section class="news-main">
        <div class="container">
            
            <article>
                <div class="img"><img src="img/acompañamiento.jpg" alt="Hamlet"></div>
                <h2>El acompañamiento</h2>
                <p><strong>Carlos Gorostiza.</strong>
                    La obra aborda la frustración en torno a la postergación de los sueños del alma. El devenir de la obra nos encontrará con el espejo de las propias realizaciones inconclusas.
                    El mismo texto escrito por Carlos Gorostiza, es narrado a través de la voz femenina y cobra hoy, en pleno Siglo XXI, un vuelco narrativo y hasta simbólico. Actúan Laura Bortnik y Nora Bortnik. La dirección es de Rodrigo Cárdenas.
                    <hr>
                    Para agendar:
                    <br>
                    Domingos 19.30hs. Teatro BOEDO XXI, Av. Boedo 853, CABA.
                </p>
                <a href="https://www.instagram.com/elacompanamiento.obra/">Mas información</a>
            </article>
            <article>
                <div class="img"><img src="img/Fragmentos.jpg" alt="Actriz detrás de un marco"></div>
                <h2>Fragmentos Mansfield</h2>
                <p><strong>Milagros Almeida, Sergio Catallani y Miguel Wahren</strong>.
                    Drama poético entre marcos y sillas.  Una mujer transita su existencia a través de sus escritos y la deja reflejada en su diario, en sus poesías, sus cuentos, canciones, cartas y relatos. Su particular y apasionante forma de atravesarla, convierte su vida en un drama poético que oscila entre el humor y la soledad, el amor y el dolor. Unipersonal interpretado por Milagros Almeida. 
                    <hr>
                    Para agendar:
                    <br>
                    Los domingos a las 17 hs. en el Espacio Callejón, Humahuaca 3759. 
                    Entrada: $8000. 
                </p>
                <a href="https://www.instagram.com/fragmentosmansfield/">Mas informacion</a>
            </article>
            <article>
                <div class="img"><img src="img/ciruela.jpg" alt="actrices"></div>
                <h2>La edad de la ciruela</h2>
                <p><strong>Arístides Vargas.</strong>
                    Este autor siempre dice que su teatro, el del grupo Malayerba, es el teatro de los afectos. Y es por su apego que ahora, por primera vez bajo su dirección, presenta uno de sus textos más representados, "La edad de la ciruela". Con Charo Francés y Liliana Moreno. 
                    <hr>
                    Para agendar:
<br>
                    Del 19 de abril al 5 de mayo. Viernes y sábados a las 20. Domingos a las 18
Entrada: $ 7.000. Estudiantes, jubilados y docentes: $ 5.000. CELCIT, sala Juan Carlos Gené, Moreno 431.
                </p>
                <a href="https://celcit.org.ar/espectaculos/237/la-edad-de-la-ciruela/">Mas información</a>
            </article>
            
        </div>
    </section>
    {% include 'defaults/footer.html' %}
</body>
</html>