<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--FontAwesome-->
    <script src="https://kit.fontawesome.com/64faf337e9.js" crossorigin="anonymous"></script>
    
    <title>Quienes Somos</title>
    <link rel="icon" href="img/logo.ico">
</head>
<body class="">
    <header class="myheader">
        <div class="logo"></div>
        <img src="img/logo.jpg" alt="logo"></a>
        <div class="search">
            <input type="text" placeholder="Buscar">
            <i class="fas fa-search"></i>
        <nav>
            <ul>
                <li><a href="index.html">Cartelera</a></li>
                <li><a href="estrenos.html">Estrenos</a></li>
                <li><a href="criticas.html">Críticas</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="quienes-somos.html">Quienes Somos</a></li>
            </ul>
         <h1>Quienes Somos</h1>   
        </nav>
    </header>

    <div class="container my-5"  >
        <div class="fs-5 fw-bold fst-italic text-center my-5 p-5 side-appear " >
            Nuestro equipo, fusiona una amplia gama de habilidades y experiencia en áreas como emprendimiento, tecnología, educación, desarrollo web, administración y finanzas. Con una pasión compartida por la innovación y el crecimiento profesional, nos esforzamos por ofrecer soluciones creativas y efectivas en cada proyecto.
        </div>
    </div>
    <div class="container my-5 ">
        <div class="row rounded-4" >
            <div  class="col-md-6 ">
                <div  class="card text-center card-text mb-3 animacion-div">
                    <div class="card-body text-center bg5">
                        <img src="./img/banner-4-qs.png" class="rounded-circle mx-auto d-block img-banner" alt="...">
                        <h5 class="card-title color-">Marisa Viotti</h5>
                        <p class="card-text">Es una emprendedora con experiencia en comunicación y gestión de redes sociales. Ha trabajado como anfitriona en Airbnb, produciendo espectáculos y conduciendo programas culturales y turísticos, en medios de comunicación. Con habilidades en herramientas informáticas y programación junior, busca sumarse a empresas tecnológicas, vacacionales o de entretenimiento, ofreciendo su dinamismo y capacidad de aprendizaje.</p>
                        <a href="https://www.linkedin.com/in/marisaviotti/" target="_blank" class="btn btn-primary" style="background-color: brown;">Conocer más...</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card text-center card-text animacion-div">
                    <div class="card-body text-center bg5">
                        <img src="./img/banner-qs.png" class="rounded-circle mx-auto d-block img-banner" alt="...">
                        <h5 class="card-title">Rocío Evelina Aranda</h5>
                        <p class="card-text">Es una profesional con formación técnica en Analista de Sistemas y Administración de Empresas. También ha incursionado en capacitación universitaria enfocada en docencia. Posee sólidas habilidades en el manejo de PC y una amplia gama de herramientas digitales. Su experiencia laboral incluye roles como docente co-formadora en instituciones educativas.</p>
                        <a href="https://github.com/Rocio1412" target="_blank" class="btn btn-primary" style="background-color: brown;">Conocer más...</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card text-center card-text animacion-div">
                    <div class="card-body text-center bg5">
                        <img src="./img/banner-2-qs.png" class="rounded-circle mx-auto d-block img-banner" alt="...">
                        <h5 class="card-title">Marcela Britos</h5>
                        <p class="card-text">Es una profesional proactiva con habilidades en liderazgo y gestión administrativa. Su experiencia como desarrolladora Frontend y en captación de clientes la ha convertido en una experta en diseño y desarrollo de sitios web, así como en consultoría y asesoramiento. Como freelance desde septiembre de 2023, ha demostrado su capacidad para liderar equipos y adaptarse a diferentes proyectos con éxito.</p>
                        <a href="https://www.linkedin.com/in/marcelabritos/" target="_blank" class="btn btn-primary" style="background-color: brown;">Conocer más...</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card text-center card-text animacion-div">
                    <div class="card-body text-center bg5">
                        <img src="./img/banner-3-qs.png" class="rounded-circle mx-auto d-block img-banner" alt="...">
                        <h5 class="card-title">Mariela S. Flores</h5>
                        <p class="card-text">Es una profesional en administración de empresas y contadora pública con una destacada experiencia en análisis financiero, gestión presupuestaria y control de costos. Su trayectoria incluye roles clave en empresas, donde se ha desempeñado en la estrategia y planificación IT, así como en el área de planeamiento y control de gestión de áreas de tecnología. Posee habilidades en análisis de datos para la toma de decisiones y cuenta con una sólida formación académica. Además, está certificada en Project Management y Marketing Digital, y ha participado en proyectos de ciberseguridad y data science.</p>
                        <a href="https://github.com/marielasirur" target="_blank" class="btn btn-primary" style="background-color: brown;">Conocer más...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <footer>           
        <a href="https://www.facebook.com/seronoserredes/" target="_blank"><i class="fab fa-facebook-square"></i></a>
        <a href="https://www.instagram.com/seronoserredes/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com/seronoserRedes" target="_blank"><i class="fab fa-twitter-square"></i></a>
        <a href="https://www.youtube.com/watch?v=5nl4Z_Kf3O4&list=PLHMH5nFOCPbmUxK9xSbhWyaaFvIjHt-Wk&t=17s" target="_blank"><i class="fab fa-youtube"></i></a>            
        <p></p><strong>S</strong>er <strong>o</strong> no <strong>S</strong>er, noticias.</p>
        <p>copyright - 2024</p>
    </footer>

    <script src="./js/animaciones.js">   
    </script>
    <script>{{url_for('static', filename='./js/animaciones.js')</script>}}
</body>
</html>