<header>
    <div class="logo"></div>
    <img src="img/logo.jpg" alt="logo" href="https://linktr.ee/seronoserredes"></a>
    
    <div class="search">
        <input type="text" placeholder="Buscar">
        <i class="fas fa-search"></i>
        <nav>
            <ul>
                <li><a href="index.html">Cartelera</a></li>
                <li><a href="estrenos.html">Estrenos</a></li>
                <li><a href="criticas.html">Críticas</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="quienes-somos.html">Quienes Somos</a></li>
            </ul>
            <h1>{{title}}</h1>    
        </nav>
</header>
